#!/usr/bin/make -f

export PYBUILD_NAME = hpose
# export DH_VERBOSE = 1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# Run test manually

override_dh_auto_clean:
	dh_auto_clean -O--buildsystem=pybuild
	rm -drf *.tflite htmlcov .coverage *.egg-info
